<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wonikrobotics.pathfinder.mc.mobilecontroller">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectRobot"
            android:screenOrientation="sensorPortrait">

        </activity>
        <activity
            android:name=".RobotController">

        </activity>
        <activity
            android:name=".UserOptionDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar">

        </activity>
        <activity
            android:name=".AddRobotDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar">

        </activity>
        <activity
            android:name=".RobotModifyDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar">

        </activity>

        <service
            android:name="com.wonikrobotics.pathfinder.mc.ros.CustomNodeMainExecutorService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wonikrobotics.pathfinder.mc.ros.CustomNodeMainExecutorService" />
            </intent-filter>
        </service>
    </application>

</manifest>